# do not track files in these folders #
EngineCore/Debug/
EngineCore/Release/
GameDLL/Debug/
GameDLL/Release/
Graphics/Debug/
Graphics/Release/
Math/Debug/
Math/Release/
UtilitiesCore/Debug/
UtilitiesCore/Release/
Binaries/
Game-Editor/obj/
Game/Debug/
Game/Release/

# Compiled source #
Game/Debug.txt

.vs/
