textures.zip filter=lfs diff=lfs merge=lfs -text
Warrior.dae filter=lfs diff=lfs merge=lfs -text
Warrior_Attack.dae filter=lfs diff=lfs merge=lfs -text
Warrior_Taunt.dae filter=lfs diff=lfs merge=lfs -text
